include ../mixins/_common.pug
.contact
    +h1("お問い合わせ","Webに関するお悩みなど、お気軽にご相談ください","contact",
    "chatboxではWeb制作の見積もり相談を始め、制作現場の技術相談、社員研修のご相談、スクール・イベント等に関する相談などを広く承っております。" +
    "\nお客様のニーズやご予算に応じた柔軟なご提案をさせていただきますので、Web制作に関するお困りごとなど、ぜひ一度ご相談下さい。"+
    "\nWebの技術をより広くの現場に届けられるよう、皆様からのご相談をお待ちしております。",
    "/assets/images/contact/top.jpg"
    )
    app-contact

    //.contact_estimate
    //    #sec_faq.p-contactEstimateArea
    //        .c-heading--h2
    //            h2.c-heading--h2_title お見積について
    //            p.c-heading--h2_titleEnglish estimate
    //
    //        ul.p-estimateList
    //            li.p-estimateList_item
    //                <i class="p-estimateList_itemAngle fa fa-angle-right" aria-hidden="true"></i>
    //                |質問がここに入ります？
    //            li.p-estimateList_item
    //                <i class="p-estimateList_itemAngle fa fa-angle-right" aria-hidden="true"></i>
    //                |質問がここに入ります？
    //            li.p-estimateList_item
    //                <i class="p-estimateList_itemAngle fa fa-angle-right" aria-hidden="true"></i>
    //                |質問がここに入ります？
    //            li.p-estimateList_item
    //                <i class="p-estimateList_itemAngle fa fa-angle-right" aria-hidden="true"></i>
    //                |質問がここに入ります？
