include ../mixins/_common
include ../mixins/_works
include ../mixins/_service_detail
div.l-sidebarContainer
    div.l-sidebarContent
        .p-serviceDetailHero(style="background-image:url('#{design.hero.bg}')")
            +h1(design.hero.title,design.hero.subtitle,design.hero.label,design.hero.brief)
            .p-serviceDetailHero_category
                +categoryBox(design.hero.category)

        #sec_webpage.p-serviceDetailArea(style="background-image:url('#{design.webpage.bg}'")
            +h2(design.webpage.title,design.webpage.label,design.webpage.brief)
            +list(design.webpage.tasks,"このようなことでお困りの場合はご相談下さい")
            +modelCase(design.webpage.model)
            +solution(design.webpage.point.label,design.webpage.point.items)
            .p-systemWorks
                +h3("事例紹介")
                +works(design.webpage.works)
                //div.p-systemWorks_button: +btn-default("実績をさらに見る","/works/")
        #sec_print.p-serviceDetailArea(style="background-image:url('#{design.print.bg}'")
            +h2(design.print.title,design.print.label,design.print.brief)
            +list(design.print.tasks,"このようなことでお困りの場合はご相談下さい")
            +modelCase(design.print.model)
            +solution(design.print.point.label,design.print.point.items)
            .p-systemWorks
                +h3("事例紹介")
                +works(design.print.works)
                //div.p-systemWorks_button: +btn-default("実績をさらに見る","/works/")
        include ../include/_service_map.pug
        br
        br
    include ../_sidebar.pug
