include ../mixins/_common
include ../mixins/_works
include ../mixins/_service_detail
div.l-sidebarContainer
    div.l-sidebarContent
        .p-serviceDetailHero(style="background-image:url('"+system.hero.bg+"')")
            +h1(system.hero.title,system.hero.subtitle,system.hero.label,system.hero.brief)
            .p-serviceDetailHero_category
                +categoryBox(system.hero.category)

        #sec_business.p-serviceDetailArea(style="background-image:url('"+system.b2c.bg+"'")
            +h2(system.b2c.title,system.b2c.label,system.b2c.brief)
            +list(system.b2c.tasks,"このようなことでお困りの場合はご相談下さい")
            +modelCase(system.b2c.model)
            +solution(system.b2c.point.label,system.b2c.point.items)
            .p-systemWorks
                +h3("事例紹介")
                +works(system.b2c.works)
                //div.p-systemWorks_button: +btn-default("実績をさらに見る","/works/")
        #sec_websystem.p-serviceDetailArea(style="background-image:url('"+system.websystem.bg+"'")
            +h2(system.websystem.title,system.websystem.label,system.websystem.brief)
            +list(system.websystem.tasks,"このようなことでお困りの場合はご相談下さい")
            +modelCase(system.websystem.model)
            +solution(system.websystem.point.label,system.websystem.point.items)
            .p-systemWorks
                +h3("事例紹介")
                +works(system.websystem.works)
                //div.p-systemWorks_button: +btn-default("実績をさらに見る","/works/")
        include ../include/_service_map.pug
        br
        br
    include ../_sidebar.pug
