.p-members {
  text-align: center;
  &_element {
    margin: 20px;
    display: inline-block;
    text-align: center;
  }
  &_elementImage {
    @include circle_container(150px);
    @include mediaSp {
      @include circle_container(110px);
    }
  }
  &_elementName {
    margin-top: 1rem;
  }
}

.p-memberMembersArea {
  //メンバーのところタイトルと一緒に
}

.p-memberJobOfferArea {
  padding-bottom: 40px;
  &_backgroundImage {
    background-image: url("/assets/images/member/recruit_bg.jpg");
    background-size: cover;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  &_description {
    line-height: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}