//共通で使用する部分
include ../mixins/_top.jade
.p-topWorksArea
  +top-h2("実績紹介", "works")
  .l-works
    .l-works_examples
      .l-works_example
        img.l-works_exampleImage(src="/assets/images/top/work1.jpg",alt="Webシステム制作")
        .l-works_detail
          .l-works_exampleTitle Webシステム制作
          .l-works_exampleBorder
          .l-works_exampleDescription 業務管理システムやB2Cなど、様々なWebシステムの開発経験を活かした柔軟な提案や設計を提供させていただいております。
      .l-works_example
        img.l-works_exampleImage(src="/assets/images/top/work2.jpg",alt="Webページ制作")
        .l-works_detail
          .l-works_exampleTitle Webページ制作
          .l-works_exampleBorder
          .l-works_exampleDescription LPやキャンペーンサイトなど、頻繁に変化するニーズに合わせて変更可能な、柔軟なデザイン構成が得意です。
      .l-works_example
        img.l-works_exampleImage(src="/assets/images/top/work3.jpg",alt="画像加工・ロゴ")
        .l-works_detail
          .l-works_exampleTitle 画像加工・ロゴ
          .l-works_exampleBorder
          .l-works_exampleDescription Web制作に必要な画像素材の加工やロゴの制作、イラストも社内のデザイナーがご要望に合わせて対応いたします。
  a.p-topWorksArea_button.c-button(href="/service/") サービス一覧を見る
