.l-footerContact
    .container
        h2.l-footerContact_title お問い合わせ
        p.l-footerContact_titleEnglish contact
        p.l-footerContact_description
            |Web制作にまつわるお悩み、
            br
            |ご相談はお気軽にchatboxまで。
        a.l-footerContact_button.c-button--white(href="/contact/") お問い合わせはこちら

.l-footerSitemap
    .container
        .l-footerSitemap_companyInfo
            a.l-footerSitemap_logoArea(href="/")
                img.l-footerSitemap_logo(src="/assets/images/common/sitemapLogo.png",alt="株式会社chatbox")
            .l-footerSitemap_infomationArea
                p.l-footerSitemap_chatbox 株式会社 chatbox
                p.l-footerSitemap_postalCode 〒#{common.postal}
                p.l-footerSitemap_address=common.address
                p.l-footerSitemap_tel
                    ruby TEL &nbsp; 050-3555-1212
                        rt.ruby ぜろごーぜろ みごごご わんにゃんわんにゃん
                a.l-footerSitemap_map.c-button--small(href="/about/") MAP
                a.l-footerSitemap_contact.c-button--small(href="/contact/") CONTACT

        .l-footerSitemap_siteLink
            .l-footerSitemap_siteLinkGrid
                .l-footerSitemap_siteLinkItem
                    p.l-footerSitemap_siteLinkItemTopElement SERVICE
                    a.l-footerSitemap_siteLinkItemElement(href="/service/design/") Webページ制作
                    a.l-footerSitemap_siteLinkItemElement(href="/service/system/") Webシステム開発
                    a.l-footerSitemap_siteLinkItemElement(href="/service/enhance/") 技術顧問
                    a.l-footerSitemap_siteLinkItemElement(href="/service/grow/") イベント・セミナー

                //.l-footerSitemap_siteLinkItem
                //    p.l-footerSitemap_siteLinkItemTopElement WORKS

            .l-footerSitemap_siteLinkGrid
                .l-footerSitemap_siteLinkItem
                    p.l-footerSitemap_siteLinkItemTopElement ABOUT
                    a.l-footerSitemap_siteLinkItemElement(href="/about/") 会社概要
                    a.l-footerSitemap_siteLinkItemElement(href="/about/#sec_map") アクセスマップ

                .l-footerSitemap_siteLinkItem
                    p.l-footerSitemap_siteLinkItemTopElement MEMBER
                    a.l-footerSitemap_siteLinkItemElement(href="/member/") chatboxで働く

                //.l-footerSitemap_siteLinkItem
                    p.l-footerSitemap_siteLinkItemTopElement EVENT & NEWS
                    a.l-footerSitemap_siteLinkItemElement(href="/news/") お知らせ一覧


            .l-footerSitemap_siteLinkGrid
                .l-footerSitemap_siteLinkItem
                    p.l-footerSitemap_siteLinkItemTopElement CONTACT
                    a.l-footerSitemap_siteLinkItemElement(href="/contact/") お問合わせ
                    //a.l-footerSitemap_siteLinkItemElement(href="/contact/#sec_faq") 見積り例

                //.l-footerSitemap_siteLinkItem
                //    p.l-footerSitemap_siteLinkItemTopElement TOP

        .l-footerSitemap_SP_siteLink
            .l-footerSitemap_siteLinkGrid
                .l-footerSitemap_siteLinkItem
                    p.l-footerSitemap_siteLinkItemTopElement SERVICE
                    a.l-footerSitemap_siteLinkItemElement(href="/service/system/") システム開発
                    a.l-footerSitemap_siteLinkItemElement(href="/service/design/") デザイン制作
                    a.l-footerSitemap_siteLinkItemElement(href="/service/enhance/") 技術顧問
                    a.l-footerSitemap_siteLinkItemElement(href="/service/grow/") イベント・セミナー

                //.l-footerSitemap_siteLinkItem
                //    p.l-footerSitemap_siteLinkItemTopElement WORKS

                .l-footerSitemap_siteLinkItem
                    p.l-footerSitemap_siteLinkItemTopElement ABOUT
                    a.l-footerSitemap_siteLinkItemElement(href="/about/") 会社概要
                    a.l-footerSitemap_siteLinkItemElement(href="/about/#sec_map") アクセスマップ

            .l-footerSitemap_siteLinkGrid
                .l-footerSitemap_siteLinkItem
                    p.l-footerSitemap_siteLinkItemTopElement MEMBER
                    a.l-footerSitemap_siteLinkItemElement(href="/member/") chatboxで働く

                //.l-footerSitemap_siteLinkItem
                    p.l-footerSitemap_siteLinkItemTopElement EVENT & NEWS
                    a.l-footerSitemap_siteLinkItemElement(href="/news/") お知らせ一覧

                .l-footerSitemap_siteLinkItem
                    p.l-footerSitemap_siteLinkItemTopElement CONTACT
                    a.l-footerSitemap_siteLinkItemElement(href="/contact/") お問合わせ
                    //a.l-footerSitemap_siteLinkItemElement(href="/contact/#sec_faq") 見積り例

                //.l-footerSitemap_siteLinkItem
                //    p.l-footerSitemap_siteLinkItemTopElement TOP
.l-footerShare
    .container
        h5.l-footerShare_title SHARE
        a.l-footerShare_twitter.btn_footerShare.btn-twitter
            <i class="fa fa-twitter" aria-hidden="true"></i>
            | twitter
        a.l-footerShare_facebook.btn_footerShare.btn-facebook
            <i class="fa fa-facebook" aria-hidden="true"></i>
            | facebook

.l-footerCopyright Copyright © chatbox.inc All Rights Reserved.
