.l-header
    .container
        a.l-header_logoArea(href="/")
            img.l-header_logo(src="/assets/images/common/headerLogo.png",alt="株式会社chatbox")
            p.l-header_chatbox chatbox.inc
        .l-header_navSp
            a(href="/about/#sec_map").l-header_navAccess
                .icn_navAccess
                span ACCESS
            a(href="/contact/").l-header_navContact
                .icn_navContact
                span CONTACT
            a.l-header_navMenu
                .menu-trigger
                    span
                    span
                    span
                span.label_open MENU
                span.label_close CLOSE


        .l-header_naviArea
            router-link.l-header_navi(to="/")
                p.l-header_naviTitleEnglish TOP
                p.l-header_naviTitle トップページ
            router-link.l-header_navi(to="/service/")
                p.l-header_naviTitleEnglish SERVICE
                p.l-header_naviTitle サービスについて
            router-link.l-header_navi(to="/member/")
                p.l-header_naviTitleEnglish MEMBER
                p.l-header_naviTitle 社内紹介
            //a.l-header_navi(href="/")
            //    p.l-header_naviTitleEnglish EVENT & NEWS
            //    p.l-header_naviTitle 広報一覧
            router-link.l-header_navi(to="/about/")
                p.l-header_naviTitleEnglish ABOUT
                p.l-header_naviTitle 会社概要
            router-link.l-header_navi(to="/contact/")
                p.l-header_naviTitleEnglish CONTACT
                p.l-header_naviTitle お問合わせ
    .l-header_spNaviArea
        router-link.l-header_spNavi(to="/")
            span.ttl_en TOP　
            span.ttl_ja トップページ
        a.l-header_spNavi(href="/service/")
            span.ttl_en SERVICE　
            span.ttl_ja chatboxにできること
        //a.l-header_spNavi(href="/works/")
        //    span.ttl_en WORKS　
        //    span.ttl_ja 実績紹介
        a.l-header_spNavi(href="/member/")
            span.ttl_en MEMBER　
            span.ttl_ja chatboxで働くメンバー
        a.l-header_spNavi(href="/about/")
            span.ttl_en ABOUT　
            span.ttl_ja 会社概要